# This is a comment
# Each entry is menuname, "Command text", classname

# This puts a command named "AnnotatorJ" in the Plugins menu associated
# with the "Annotator_MainFrameNew" class in the default package.
Plugins, "AnnotatorJ", org.biomag.annotatorProject.Annotator_MainFrameNew
Plugins, "AnnotatorJExporter", org.biomag.annotatorProject.Annotator_ExportFrameNew
Plugins, "AnnotatorJImportOpSef", org.biomag.annotatorProject.ImportOpSefWrapper